extends layout

block content
	.jumbotron
		.container
			.stock-header
				h2.display-4.stock-name #{data.symbols[0]}
				.price-header
					h2.display-4.stock-price $#{data.prices[0].c.toFixed(2)}
						if data.prices[0].dp > 0
							span.badge.badge-success.stock-change #{data.prices[0].dp.toFixed(2)}% &#9650;
						else
							span.badge.badge-danger.stock-change #{data.prices[0].dp.toFixed(2)}% &#9660;
			.stock-info
				h2 #{data.names[0]} 
				.pricing-info
					p.fundamental
						span.bold-heading Open Price:
						|  $#{data.prices[0].o.toFixed(2)}
					p.fundamental
						span.bold-heading Daily Change:
						|  $#{data.prices[0].d.toFixed(2)}
			hr.price-seperator
		.container
			.row
				if data.news[0].length > 0
					each article in data.news[0]
						.news-article
							h5.news-heading #{article.headline}
							if article.image !== ""
								img.news-img(src=article.image)
							else
								img.news-img(src="/images/FinnhubLogo.png")
							p #{article.summary}
							p
								a.btn.btn-secondary(href=article.url role="button") View the story &raquo;
				else
					h5.error-text.error-message-title No recent news articles found.
	.container
		h3 Industry Outlook - Related Companies
		- var symbols = data.symbols.slice(1);
		- var names = data.names.slice(1);
		- var prices = data.prices.slice(1);
		- var news = data.news.slice(1);
		- var iterator = 0;
		if symbols.length !== 0
			while (iterator < symbols.length)
				- var pushFunctionString = `pushStock("` + symbols[iterator] + `")`;
				.related-company
					.related-co-heading
						.related-co-title(onclick=pushFunctionString)
							h4 #{names[iterator]}
							h6.related-symbol #{symbols[iterator]}
						.related-co-price
							h4 $#{prices[iterator].c.toFixed(2)} 
								if prices[iterator].dp > 0
									span.badge.badge-success.related-stock-change #{prices[iterator].dp.toFixed(2)}% &#9650;
								else
									span.badge.badge-danger.related-stock-change #{prices[iterator].dp.toFixed(2)}% &#9660;
					hr
					.related-news
						.container
							.row
								if news[iterator].length > 0
									each article in news[iterator]
										.news-article
											h6.related-news-heading #{article.headline}
											if article.image !== ""
												img.news-img(src=article.image)
											else
												img.news-img(src="/images/FinnhubLogo.png")
											p
												a.btn.btn-secondary(href=article.url role="button") View the story &raquo;
								else
									h6.error-text No recent news articles found.
				- var iterator = iterator + 1;
		else
			h5.error-text.error-related-companies No related companies found.